name: flutter_route_refresh
description: "Mark data keys as stale via events and auto-refresh when the screen becomes visible again."
version: 1.0.0
homepage: https://github.com/dartcoders/flutter_route_refresh

environment:
  sdk: ^3.9.2
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

